@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #bbe9f0;
}

ul {
  list-style: none
}
button{
  background-color:rgb(55, 55, 224);
  color:white;
  padding:10px;
  border-radius: 8px;
}
button:hover{
  cursor: pointer;
  background-color:rgb(26, 26, 153);
}